
<div clas="container">
<h1 class="mb-5 ms-3"> Stupid Coaching </h1>

<form  class="ms-3" action="/answer" method="get">
  <label for="question"><i> Ask your coach anything </i> </label><br>
    <input type="text" id="question" name="question"  class="form-control w-50 mt-3"><br>
    <input type="submit" value="Ask!" class="btn btn-primary">
</form>
</div>
